@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  font-family: 'Inter', 'Noto Sans TC', sans-serif;
  background-color: #f8fafc;
  color: #334155;
  margin: 0;
}